@use "vars";

// Arrow
.w3c-arrow {
    border: solid $blackwell-orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.w3c-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.w3c-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.w3c-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.w3c-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}