// variables
// $dandy: #7ad9ff;

$blackwell-light-bg: #3475B0;
$blackwell-dark-bg: #172949;

$blackwell-dark-gray: #292D38;
$blackwell-light-gray: #999999;
$blackwell-orange: #E8903D;
$blackwell-light-blue: #C2E5F7;
$blackwell-dark-blue: #1E4C8A;
$blackwell-input-blue: #377AB1;
$blackwell-red: #BE2F1F;

// // mixins
// @mixin k-border {
//   border: 1px solid lightgray;
//   border-radius: 4px;
// }

// @mixin k-border-debug {
//   border: 1px dotted red;
//   border-radius: 4px;
// }