@use "vars";
@use "header";
@use "main";
@use "icons";

.blackwell-light-bg-color {
    background-color: vars.$blackwell-light-bg;
}

.blackwell-dark-bg-color {
    background-color: vars.$blackwell-dark-bg;
}

.blackwell-red-button-bg {
    background-color: vars.$blackwell-red;
}

.blackwell-blue-button-bg {
    background-color: vars.$blackwell-dark-blue;
}

.blackwell-text-orange {
    color: vars.$blackwell-orange;
}

.blackwell-text-light-blue {
    color: vars.$blackwell-light-blue;
}

// .k-border {
//     @include k-border;
// }

// .k-border-debug {
//     @include k-border-debug;

//     background-color: $dandy;
// }